/* Import Component Styles */
@import url('./components/card.css');
@import url('./components/cta.css');
@import url('./components/registration.css');
@import url('./components/slider.css');

/* General Styles */
:root {
    --dark-bg: #111;
    --light-bg: #eee;
    --dark-text: #fff;
    --light-text: #000;
    --transition: 0.3s ease-in-out;
    --base-font-size: 16px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background var(--transition), color var(--transition);
}

/* Light Mode */
.light-mode {
    background: var(--light-bg);
    color: var(--light-text);
}

/* Dark Mode */
.dark-mode {
    background: var(--dark-bg);
    color: var(--dark-text);
}

.change-theme-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    cursor: pointer;
    background: gray;
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 1;
}

.change-theme-btn:hover {
    background: darkgray;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.floating-item {
    position: fixed;
    width: 50px; /* Adjust size */
    opacity: 0.4; /* Reduce distraction */
    z-index: -1; /* Keep behind content */
    animation: float 5s ease-in-out infinite;
}

/* Manually positioning 7 coins */
.item-1 {
    top: 10%;
    left: 15%;
    animation-duration: 4s;
}
.item-2 {
    top: 30%;
    left: 40%;
    animation-duration: 5s;
}
.item-3 {
    top: 50%;
    left: 70%;
    animation-duration: 6s;
}
.item-4 {
    top: 70%;
    left: 20%;
    animation-duration: 4.5s;
}
.item-5 {
    top: 20%;
    left: 80%;
    animation-duration: 5.5s;
}
.item-6 {
    top: 60%;
    left: 10%;
    animation-duration: 4.8s;
}
.item-7 {
    top: 80%;
    left: 50%;
    animation-duration: 5.2s;
}
