/* Import Component Styles */
@import url('./components/card.css');
@import url('./components/cta.css');
@import url('./components/registration.css');
@import url('./components/slider.css');

/* General Styles */
:root {
    --dark-bg: #111;
    --light-bg: #eee;
    --dark-text: #fff;
    --light-text: #000;
    --transition: 0.3s ease-in-out;
    --base-font-size: 16px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background var(--transition), color var(--transition);
}

/* Light Mode */
.light-mode {
    background: var(--light-bg);
    color: var(--light-text);
}

/* Dark Mode */
.dark-mode {
    background: var(--dark-bg);
    color: var(--dark-text);
}

.change-theme-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    cursor: pointer;
    background: gray;
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 1;
}

.change-theme-btn:hover {
    background: darkgray;
}
